:root {
	/*
	 * Fonts I like: News Cycle, EB Garamond, Fira Sans
	 */
	--main-font: 'News Cycle', sans-serif;
	--heading-font: 'News Cycle', sans-serif;
	--link-font: 'News Cycle', sans-serif;
	--foreground-color: #1f1f1f;
	--shaded-color: #bfbfbf;
	--background-color: #dfdfdf;
	--link-color: #1f5f9f;
	/*
	 * 12pt = 1em
	 * 72pt = 1in
	 * 1in = 6em
	 */
	--one-inch: 6em;
}
body {
	color: #000;
	background-color: var(--shaded-color);
}
a {
	color: var(--link-color);
	font-family: var(--link-font);
	text-decoration: none;
	letter-spacing: 0.1em;
	word-spacing: 0.2em;
}
a:hover,a:focus {
	text-decoration: underline;
}
::selection {
	color: var(--background-color);
	background-color: var(--link-color);
}
body>main {
	box-sizing: border-box;
	margin: 0 auto;
	border: thin solid;
	padding: calc(var(--one-inch) / 4) calc(var(--one-inch) / 8);
	max-width: calc(8.5 * var(--one-inch));
	min-height: calc(11 * var(--one-inch));
	color: var(--foreground-color);
	background-color: var(--background-color);
	font-size: large;
	font-family: var(--main-font);
	line-height: 1.0;
	word-wrap: break-word;
	box-shadow: 8px 8px 12px var(--foreground-color);
}
body>main p {
	margin: calc(var(--one-inch) / 12) 0;
	line-height: 1.5;
}
body>main h1,
body>main h2,
body>main h3,
body>main h4,
body>main h5,
body>main h6 {
	margin: calc(var(--one-inch) / 12) 0;
	font-size: inherit;
	font-family: var(--heading-font);	
}
body>main>h1 {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 0.05em;
	word-spacing: 0.25em;
}
body>main>address {
	font-style: normal;
	text-align: center;
	line-height: 1.5;
}
body>main>h2 {
	border-bottom: medium solid;
	font-size: 1.25em;
}
body>main>ul {
	margin: calc(var(--one-inch) / 12) 0;
	padding: 0 0 0 calc(var(--one-inch) / 4);
	line-height: 1.5;
	list-style-type: square;
}
body>main>ul:nth-of-type(2),
body>main>ul:nth-of-type(3) {
	padding: 0;
	list-style-type: none;
}
body>main>ul:nth-of-type(2)>li>p:first-child,
body>main>ul:nth-of-type(3)>li>p:first-child {
	border: thin solid;
	padding: calc(var(--one-inch) / 12);
	background-color: var(--shaded-color);
}
@media screen and (min-width: 600px) {
	body {
		padding: calc(var(--one-inch) / 4) calc(var(--one-inch) / 8);
	}
	body>main {
		padding: calc(var(--one-inch) / 2);
	}
}
