@page {
	margin: 0.5in;
}
body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: transparent;
}
a {
	color: #000;
}
body>main {
	margin: 0;
	border: none;
	padding: 0;
	color: #000;
	background-color: transparent;
	font-size: 12pt;
	box-shadow: none;
}
body>main>ul:nth-of-type(2)>li>p:first-child {
	background-color: lightgray;
}
body>main>h2,
body>main>ul>li,
body>main>p {
	page-break-inside: avoid;
}
