:root {
	--resume-text-font-family: 'PT Serif', 'Garamond', 'Times New Roman', 'Times', serif;
	--resume-heading-font-family: 'PT Serif Caption', 'Garamond', 'Times New Roman', 'Times', serif;
	--resume-link-font-family: 'PT Mono', 'Courier New', 'Courier', monospace;
	--resume-background-texture: url('black_denim.png');
	--resume-paper-texture: url('egg_shell.png');
}
main {
	font-family: var(--resume-text-font-family);
	font-size: 12pt;
	line-height: 1.25;
}
main h1,h2,h3,h4,h5,h6 {
	margin: 4pt 0 4pt 0;
	padding: 0;
	font-family: var(--resume-heading-font-family);
	font-weight: normal;
}
main h1 { font-size: 36pt; }
main h2 { font-size: 24pt; }
main h3 { font-size: 20pt; }
main h4 { font-size: 16pt; }
main h5 { font-size: 10pt; }
main h6 { font-size: 8pt; }
b { font-weight: bold; }
a {
	font-family: var(--resume-link-font-family);
	text-decoration: none;
}
a:hover,a:active { text-decoration: underline; }
main figure {
	margin: 0;
	padding: 4pt;
	color: inherit;
	background-color: rgba(0,0,0,0.18);
	font-weight: bold;
}
main p { margin: 4pt 0 4pt 0; padding: 0; }
#download-resume {
	display: inline-block;
	margin: 0 0 1em 0;
	padding: 0.5em;
	color: Black;
	background-color: White;
	border: medium solid SteelBlue;
	font-family: sans-serif;
	font-size: 1em;
	text-align: center;
}
@media screen {
	body {
		color: rgba(0,0,0,0.72);
		background-color: Gray;
		background-image: var(--resume-background-texture);
		background-repeat: repeat;
	}
	main>article,main>section {
		box-sizing: border-box;
		margin: 1em auto 1em auto;
		padding: 0.5in;
		width: 8.5in;
		height: 11in;
		background-color: White;
		background-image: var(--resume-paper-texture);
		background-repeat: repeat;
		box-shadow: 5px 5px 20px Black;
	}
	main a { color: rgba(0,0,0,0.72); }
}
@media print {
	body {
		color: Black;
		background-color: transparent;
		background-image: none;
	}
	main>article,main>section {
		margin: 0;
		padding: 0.5in;			
		width: auto;
		height: auto;
		color: Black;
		background-color: transparent;
		box-shadow: none;
	}
	main a { color: Black; }
	main>article+main>article { page-break-before: always; }
	main>section+main>section { page-break-before: always; }
	#download-resume { display: none; }
	@page { margin: 0; }
}
